streamlit
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
transformers
torch
pypdf
python-docx
docx2txt
protobuf==3.20.3
google-generativeai==0.8.5
torchvision